# HW3

## 1. Data collection

In [1]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\legione\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\legione\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\legione\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install selenium

Requirement already satisfied: selenium in c:\users\legione\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\legione\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\legione\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\legione\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\legione\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\legione\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\legione\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\legione\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\legione\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\legione\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\legione\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\legione\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\legione\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\legione\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\legione\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from bs4 import BeautifulSoup
import requests
import time

In [ ]:
base_url = 'https://www.findamasters.com/masters-degrees/msc-degrees/?PG={}'  # URL pattern with a page number placeholder
results = []

for page_number in range(1, 101):  # Iterate through the first 100 pages
    url = base_url.format(page_number)
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lst_links = soup.find_all('a', href=True)
    prefix = '/masters-degrees/course/'
    exclude = ['\nMore details \n', '\nRead more \n', '\xa0Video(s)', '\xa0Student Profile(s)']

    for item in lst_links:
        if item['href'][:len(prefix)] == prefix and not item.text in exclude:
            results.append((item['href'], item.text))
               
for page_number in range(101, 201):  
    url = base_url.format(page_number)
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lst_links = soup.find_all('a', href=True)
    prefix = '/masters-degrees/course/'
    exclude = ['\nMore details \n', '\nRead more \n', '\xa0Video(s)', '\xa0Student Profile(s)']

    for item in lst_links:
        if item['href'][:len(prefix)] == prefix and not item.text in exclude:
            results.append((item['href'], item.text))

for page_number in range(201, 301):  
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lst_links = soup.find_all('a', href=True)
    prefix = '/masters-degrees/course/'
    exclude = ['\nMore details \n', '\nRead more \n', '\xa0Video(s)', '\xa0Student Profile(s)']

    for item in lst_links:
        if item['href'][:len(prefix)] == prefix and not item.text in exclude:
            results.append((item['href'], item.text))

for page_number in range(301, 401):  # Iterate through the first 100 pages
    url = base_url.format(page_number)
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lst_links = soup.find_all('a', href=True)
    prefix = '/masters-degrees/course/'
    exclude = ['\nMore details \n', '\nRead more \n', '\xa0Video(s)', '\xa0Student Profile(s)']

    for item in lst_links:
        if item['href'][:len(prefix)] == prefix and not item.text in exclude:
            results.append((item['href'], item.text))

In [ ]:
# Save the collected URLs to a .txt file
with open('master_degree_urls.txt', 'w', encoding='utf-8') as file:
    for url in results:
        file.write(url + '\n')

print("URLs of master's degree programs saved to master_degree_urls.txt.")

In [ ]:
print(results)

## 1.1 Get the list od master's degree courses

I managed to get all the urls and save them in the txt file by splitting the process in two groups, each of 200 pages.

In [2]:
import os
import time
from bs4 import BeautifulSoup
import requests

base_url = 'https://www.findamasters.com/masters-degrees/msc-degrees/?PG={}'  # URL pattern with a page number placeholder
results = []

for page_number in range(201, 401):  
    url = base_url.format(page_number)
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'html.parser')
    lst_links = soup.find_all('a', href=True)
    prefix = '/masters-degrees/course/'
    exclude = ['\nMore details \n', '\nRead more \n', '\xa0Video(s)', '\xa0Student Profile(s)']

    for item in lst_links:
        if item['href'][:len(prefix)] == prefix and not item.text in exclude:
            results.append(item['href'])
    
    # Sleep for a few seconds to be polite to the server and prevent getting blocked
    #time.sleep(2)

# Save the collected URLs to a .txt file
with open('master_degree_urls.txt', 'a', encoding='utf-8') as file:
    for url in results:
        file.write(url + '\n')

## 1.2 Crawl master's degree pages


To efficiently download the HTML content of each collected URL, save it immediately after collection, and organize the downloaded HTML pages into folders, you can use a multi-threading approach to parallelize the download process.
We use the threading module to create a separate thread for each page to download. This allows us to parallelize the downloading process and make it more efficient.

Each thread downloads the HTML content for a specific page, creates a subdirectory for that page, and saves the HTML files in the respective subdirectory.

We wait for all threads to finish using thread.join() to ensure that all HTML content is downloaded and organized before the program exits.

By using multi-threading, this approach significantly shortens the time required to collect the HTML content for a large number of pages, while also ensuring that data is saved immediately after collection and organized into folders.

In [6]:
import requests
from bs4 import BeautifulSoup
import os
import time

# Read URLs from the text file
with open("master_degree_urls.txt", "r") as file:
    master_urls = [line.strip() for line in file.readlines()]

# Create a directory to store HTML pages
output_root_directory = "html_pages"
os.makedirs(output_root_directory, exist_ok=True)

# Read 15 URLs at a time and create HTML pages
subset_size = 15
for i in range(0, len(master_urls), subset_size):
    subset = master_urls[i:i + subset_size] # extract 15 more urls

    # Create a subfolder for each page
    output_directory = os.path.join(output_root_directory, f"page_{i // subset_size + 1}")
    os.makedirs(output_directory, exist_ok=True)

    # Create an HTML page for each URL in the subset
    for url in subset:
        prefix = 'https://www.findamasters.com/'
        response = requests.get(prefix + url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, "html.parser")
            
            # Extract the content of the page
            page_content = soup.prettify()

            # Extract the name of the master from the URL for the filename            
            master_name = url.split("/")[-2]

            # Check if the file already exists, and append a number if necessary
            page_filename = f"{output_directory}/{master_name}.html"
            counter = 1
            while os.path.exists(page_filename):
                page_filename = f"{output_directory}/{master_name}({counter}).html"
                counter += 1

            # Save the content in a file
            with open(page_filename, "w", encoding="utf-8") as file:
                file.write(page_content)
            time.sleep(3)

    print(f"page {i // subset_size + 1} completed")

page 1 completed
page 2 completed
page 3 completed
page 4 completed
page 5 completed
page 6 completed
page 7 completed
page 8 completed
page 9 completed
page 10 completed
page 11 completed
page 12 completed
page 13 completed
page 14 completed
page 15 completed
page 16 completed
page 17 completed
page 18 completed
page 19 completed
page 20 completed
page 21 completed
page 22 completed
page 23 completed
page 24 completed
page 25 completed
page 26 completed
page 27 completed
page 28 completed
page 29 completed
page 30 completed
page 31 completed
page 32 completed
page 33 completed
page 34 completed
page 35 completed
page 36 completed
page 37 completed
page 38 completed
page 39 completed
page 40 completed
page 41 completed
page 42 completed
page 43 completed
page 44 completed
page 45 completed
page 46 completed
page 47 completed
page 48 completed
page 49 completed
page 50 completed
page 51 completed
page 52 completed
page 53 completed
page 54 completed
page 55 completed
page 56 completed
page 57 completed
page 58 completed
page 59 completed
page 60 completed
page 61 completed
page 62 completed
page 63 completed
page 64 completed
page 65 completed
page 66 completed
page 67 completed
page 68 completed
page 69 completed
page 70 completed
page 71 completed
page 72 completed
page 73 completed
page 74 completed
page 75 completed
page 76 completed
page 77 completed
page 78 completed
page 79 completed
page 80 completed
page 81 completed
page 82 completed
page 83 completed
page 84 completed
page 85 completed
page 86 completed
page 87 completed
page 88 completed
page 89 completed
page 90 completed
page 91 completed
page 92 completed
page 93 completed
page 94 completed
page 95 completed
page 96 completed
page 97 completed
page 98 completed
page 99 completed
page 100 completed
page 101 completed
page 102 completed
page 103 completed
page 104 completed
page 105 completed
page 106 completed
page 107 completed
page 108 completed
page 109 completed
page 110 completed
page 111 completed
page 112 completed
page 113 completed
page 114 completed
page 115 completed
page 116 completed
page 117 completed
page 118 completed
page 119 completed
page 120 completed
page 121 completed
page 122 completed
page 123 completed
page 124 completed
page 125 completed
page 126 completed
page 127 completed
page 128 completed
page 129 completed
page 130 completed
page 131 completed
page 132 completed
page 133 completed
page 134 completed
page 135 completed
page 136 completed
page 137 completed
page 138 completed
page 139 completed
page 140 completed
page 141 completed
page 142 completed
page 143 completed
page 144 completed
page 145 completed
page 146 completed
page 147 completed
page 148 completed
page 149 completed
page 150 completed
page 151 completed
page 152 completed
page 153 completed
page 154 completed
page 155 completed
page 156 completed
page 157 completed
page 158 completed
page 159 completed
page 160 completed
page 161 completed
page 162 completed
page 163 completed
page 164 completed
page 165 completed
page 166 completed
page 167 completed
page 168 completed
page 169 completed
page 170 completed
page 171 completed
page 172 completed
page 173 completed
page 174 completed
page 175 completed
page 176 completed
page 177 completed
page 178 completed
page 179 completed
page 180 completed
page 181 completed
page 182 completed
page 183 completed
page 184 completed
page 185 completed
page 186 completed
page 187 completed
page 188 completed
page 189 completed
page 190 completed
page 191 completed
page 192 completed
page 193 completed
page 194 completed
page 195 completed
page 196 completed
page 197 completed
page 198 completed
page 199 completed
page 200 completed
page 201 completed
page 202 completed
page 203 completed
page 204 completed
page 205 completed
page 206 completed
page 207 completed
page 208 completed
page 209 completed
page 210 completed
page 211 completed
page 212 completed
page 213 completed
page 214 completed
page 215 completed
page 216 completed
page 217 completed
page 218 completed
page 219 completed
page 220 completed
page 221 completed
page 222 completed
page 223 completed
page 224 completed
page 225 completed
page 226 completed
page 227 completed
page 228 completed
page 229 completed
page 230 completed
page 231 completed
page 232 completed
page 233 completed
page 234 completed
page 235 completed
page 236 completed
page 237 completed
page 238 completed
page 239 completed
page 240 completed
page 241 completed
page 242 completed
page 243 completed
page 244 completed
page 245 completed
page 246 completed
page 247 completed
page 248 completed
page 249 completed
page 250 completed
page 251 completed
page 252 completed
page 253 completed
page 254 completed
page 255 completed
page 256 completed
page 257 completed
page 258 completed
page 259 completed
page 260 completed
page 261 completed
page 262 completed
page 263 completed
page 264 completed
page 265 completed
page 266 completed
page 267 completed
page 268 completed
page 269 completed
page 270 completed
page 271 completed
page 272 completed
page 273 completed
page 274 completed
page 275 completed
page 276 completed
page 277 completed
page 278 completed
page 279 completed
page 280 completed
page 281 completed
page 282 completed
page 283 completed
page 284 completed
page 285 completed
page 286 completed
page 287 completed
page 288 completed
page 289 completed
page 290 completed
page 291 completed
page 292 completed
page 293 completed
page 294 completed
page 295 completed
page 296 completed
page 297 completed
page 298 completed
page 299 completed
page 300 completed
page 301 completed
page 302 completed
page 303 completed
page 304 completed
page 305 completed
page 306 completed
page 307 completed
page 308 completed
page 309 completed
page 310 completed
page 311 completed
page 312 completed
page 313 completed
page 314 completed
page 315 completed
page 316 completed
page 317 completed
page 318 completed
page 319 completed
page 320 completed
page 321 completed
page 322 completed
page 323 completed
page 324 completed
page 325 completed
page 326 completed
page 327 completed
page 328 completed
page 329 completed
page 330 completed
page 331 completed
page 332 completed
page 333 completed
page 334 completed
page 335 completed
page 336 completed
page 337 completed
page 338 completed
page 339 completed
page 340 completed
page 341 completed
page 342 completed
page 343 completed
page 344 completed
page 345 completed
page 346 completed
page 347 completed
page 348 completed
page 349 completed
page 350 completed
page 351 completed
page 352 completed
page 353 completed
page 354 completed
page 355 completed
page 356 completed
page 357 completed
page 358 completed
page 359 completed
page 360 completed
page 361 completed
page 362 completed
page 363 completed
page 364 completed
page 365 completed
page 366 completed
page 367 completed
page 368 completed
page 369 completed
page 370 completed
page 371 completed
page 372 completed
page 373 completed
page 374 completed
page 375 completed
page 376 completed
page 377 completed
page 378 completed
page 379 completed
page 380 completed
page 381 completed
page 382 completed
page 383 completed
page 384 completed
page 385 completed
page 386 completed
page 387 completed
page 388 completed
page 389 completed
page 390 completed
page 391 completed
page 392 completed
page 393 completed
page 394 completed
page 395 completed
page 396 completed
page 397 completed
page 398 completed
page 399 completed
page 400 completed

## 1.3 Parse downloaded pages

In [123]:
import os
import pandas as pd
from bs4 import BeautifulSoup

#####################
## FINAL DATAFRAME ##
#####################

# Set the working directory to the script's directory
script_dir = os.path.dirname(os.path.abspath('ADM_HW3.ipynb'))
os.chdir(script_dir)

# Create an empty list to store DataFrames
dfs = []

# Function to extract information from an HTML document
def extract_course_info(html_content, url):
    soup = BeautifulSoup(html_content, 'html.parser')

    # Extract specific information from the HTML document
    courseName = soup.find('h1', {'class': 'course-header__course-title'})
    universityName = soup.find('a', {'class': 'course-header__institution'})
    facultyName = soup.find('a', {'class': 'course-header__department'})
    full_time = soup.find('a', {'class': 'concealLink'})
    administration_online = soup.find('a', {'class': 'course-data__online'})
    administration_on_campus = soup.find('a', {'class': 'course-data__on-campus'})
    description = soup.find('div', {'class': 'course-sections__content'})
    country = soup.find('a', {'class': 'course-data__country'})
    city = soup.find('a', {'class': 'course-data__city'})
    duration = soup.find('span', {'class': 'key-info__duration'})
    start_date = soup.find('span', {'class': 'key-info__start-date'})
    modality = soup.find('span', {'class': 'key-info__qualification'})
    fees = soup.find('div', {'class': 'course-sections__fees'})
    url = soup.find('link', {'rel': 'canonical'})['href'] if soup.find('link', {'rel': 'canonical'}) else ''

    # Extract text or set to an empty string if the element is not found
    courseName = courseName.text.strip() if courseName else ''
    universityName = universityName.text.strip() if universityName else ''
    facultyName = facultyName.text.strip() if facultyName else ''
    full_time = full_time.text.strip() if full_time else ''
    administration_online = administration_online.text.strip() if administration_online else ''
    administration_on_campus = administration_on_campus.text.strip() if administration_on_campus else ''
    description = description.text.strip() if description else ''
    description = description.replace('\n', ' ')  # Replace newline characters with spaces
    country = country.text.strip() if country else ''
    city = city.text.strip() if city else ''
    duration = duration.text.strip() if duration else ''
    start_date = start_date.text.strip() if start_date else ''
    modality = modality.text.strip() if modality else ''
    modality = modality.replace('\n', ' ')
    fees = fees.text.strip() if fees else ''
    fees = fees.replace('\n', ' ')

    # Combine administration_online and administration_on_campus into a single column
    administration = f"{administration_online} {administration_on_campus}".strip()

    # Prepare the data for saving
    course_info = {
        'courseName': courseName,
        'universityName': universityName,
        'facultyName': facultyName,
        'isItFullTime': full_time,
        'description': description,
        'startDate': start_date,
        'fees': fees,
        'modality': modality,
        'duration': duration,
        'city': city,
        'country': country,
        'administration': administration,
        'url': url
    }

    return course_info

# Loop through the HTML files and extract and concatenate information
for page_directory in os.listdir('html_pages'):
    page_path = os.path.join('html_pages', page_directory)

    # Ensure that it's a directory
    if os.path.isdir(page_path):
        for html_file in os.listdir(page_path):
            file_path = os.path.join(page_path, html_file)
            with open(file_path, 'r', encoding='utf-8') as file:
                html_content = file.read()

            # Extract information
            course_info = extract_course_info(html_content, html_file)

            # Append the information to the list
            dfs.append(pd.DataFrame([course_info]))

# Concatenate all DataFrames into a single DataFrame
final_df = pd.concat(dfs, ignore_index = True)

# Add the index column
final_df['index'] = final_df.index

# Reorder the columns
final_df = final_df[['index', 'courseName', 'universityName', 'facultyName', 'isItFullTime', 'description', 'startDate',
                     'fees', 'modality', 'duration', 'city', 'country', 'administration', 'url']]

final_df.set_index('index', inplace = True)

# Replace empty strings with NaN values
final_df.replace('', pd.NA, inplace=True)

# Display the resulting DataFrame
print(final_df)

                                              courseName  \
index
0               3D Design for Virtual Environments - MSc
1      Accounting, Accountability & Financial Managem...
2                           Accounting and Finance - MSc
3      Accounting, Financial Management and Digital B...
4                                         Addictions MSc
...                                                  ...
5995                                 BioInnovation - MSc
5996              Biological Photography and Imaging MSc
5997               Biological Sciences (MSc by Research)
5998                    Biological Sciences (M.A., M.S.)
5999                           Bio-Integrated Design MSc

                      universityName  \
index
0      Glasgow Caledonian University
1              King’s College London
2                University of Leeds
3              University of Reading
4              King’s College London
...                              ...
5995          Aberystwyth University
5996        University of Nottingham
5997      University of Huddersfield
5998      St. Cloud State University
5999       University College London

                                             facultyName isItFullTime  \
index
0            School of Engineering and Built Environment    Full time
1                                 King’s Business School    Full time
2                       Leeds University Business School    Full time
3                                 Henley Business School    Full time
4      Institute of Psychiatry, Psychology and Neuros...    Full time
...                                                  ...          ...
5995   Biological, Environmental & Rural Sciences (IB...    Part time
5996                             School of Life Sciences    Full time
5997                          School of Applied Sciences    Full time
5998                               Postgraduate Programs    Full time
5999                 The Bartlett School of Architecture    Full time

                                             description           startDate  \
index
0      3D visualisation and animation play a role in ...           September
1      Our Accounting, Accountability & Financial Man...           September
2      Businesses and governments rely on sound finan...           September
3      Embark on a professional accounting career wit...           September
4      Join us for an online session for prospective ...           September
...                                                  ...                 ...
5995   MSc BioInnovation at Aberystwyth University pr...  September, January
5996   Have you ever wanted to work on nature documen...           September
5997   The maximum duration for an MSc by Research is...    October, January
5998   You will gain in-depth knowledge and skills in...          See Course
5999   Register your interest in graduate study at UC...           September

                                                    fees  \
index
0      Fees                            Please see the...
1      Fees                            Please see the...
2      Fees                          UK: £18,000 (Tot...
3      Fees                            Please see the...
4      Fees                            Please see the...
...                                                  ...
5995   Fees                            Please see the...
5996   Fees                            Please see the...
5997   Fees                          UK fees:        ...
5998   Fees                          $7,385* per year...
5999   Fees                          Full time - £16,100

                                                modality  \
index
0                                                    MSc
1                                                    MSc
2                                                    MSc
3                                                    MSc
4                                                    MSc
...                                                  ...
5995                                                 MSc
5996                                                 MSc
5997   MSc                          ,                ...
5998   MSc                          ,                ...
5999                                                 MSc

                                  duration          city         country  \
index
0                         1 year full-time       Glasgow  United Kingdom
1                                1 year FT        London  United Kingdom
2                         1 year full time         Leeds  United Kingdom
3                         1 year full time       Reading  United Kingdom
4                              One year FT        London  United Kingdom
...                                    ...           ...             ...
5995                     5 years part time   Aberystwyth  United Kingdom
5996                 Full time - 12 months    Nottingham  United Kingdom
5997   1 year full-time, 2 years part-time  Huddersfield  United Kingdom
5998                               2 years      St Cloud             USA
5999                     2 years full time        London  United Kingdom

      administration                                                url
index
0          On Campus  https://www.findamasters.com/masters-degrees/c...
1          On Campus  https://www.findamasters.com/masters-degrees/c...
2          On Campus  https://www.findamasters.com/masters-degrees/c...
3          On Campus  https://www.findamasters.com/masters-degrees/c...
4          On Campus  https://www.findamasters.com/masters-degrees/c...
...              ...                                                ...
5995       On Campus  https://www.findamasters.com/masters-degrees/c...
5996       On Campus  https://www.findamasters.com/masters-degrees/c...
5997       On Campus  https://www.findamasters.com/masters-degrees/c...
5998       On Campus  https://www.findamasters.com/masters-degrees/c...
5999       On Campus  https://www.findamasters.com/masters-degrees/c...

[6000 rows x 13 columns]

In [124]:
final_df.sample(5)

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
index,,,,,,,,,,,,,
527,Civil Engineering Structures MSc,"City, University of London",School of Science and Technology,Full time,Key information T...,September,Fees Please see the...,MSc,"1 year full time, 2 years (up to 28 months) pa...",London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
1857,MSc in Business Administration,Radboud University,Business and Economics,Full time,Our programme in Business Administration is de...,September,Fees The legal tuitio...,MSc,1 year full time,Nijmegen,Netherlands,On Campus,https://www.findamasters.com/masters-degrees/c...
4201,Management and Digital Business MSc,Liverpool John Moores University,Faculty of Business and Law,Full time,Provides an in-depth knowledge of digital tech...,September,Fees Please see the...,MSc,1 year full-time; 2 years part-time,Liverpool,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
3092,Health Psychology MSc,Teesside University,"School of Social Sciences, Humanities & Law",Full time,Health psychologists apply their knowledge of ...,September,Fees Please see the...,MSc,1 Year Full Time / 2 Years Part Time,Middlesbrough,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
1663,Ecological Economics MSc,University of Edinburgh,School of GeoSciences,Full time,Programme description ...,September,Fees Tuition fees var...,MSc,1 year full-time or 2-3 years part-time,Edinburgh,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...

In [126]:
final_df.to_csv('final_df.csv')

## Import and Pre-processing

In [6]:
import requests
import numpy as np
from tqdm.notebook import tqdm
import pandas as pd
from nltk.stem import *
import nltk
from nltk.corpus import stopwords
import spacy
from collections import Counter
from functools import reduce
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import euclidean
import heapq
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
final_df = pd.read_csv('final_df.csv')

In [8]:
final_df.head()

,index,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
0,0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,3D visualisation and animation play a role in ...,September,Fees Please see the...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
1,1,"Accounting, Accountability & Financial Managem...",King’s College London,King’s Business School,Full time,"Our Accounting, Accountability & Financial Man...",September,Fees Please see the...,MSc,1 year FT,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
2,2,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound finan...,September,"Fees UK: £18,000 (Tot...",MSc,1 year full time,Leeds,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
3,3,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,Full time,Embark on a professional accounting career wit...,September,Fees Please see the...,MSc,1 year full time,Reading,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...
4,4,Addictions MSc,King’s College London,"Institute of Psychiatry, Psychology and Neuros...",Full time,Join us for an online session for prospective ...,September,Fees Please see the...,MSc,One year FT,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/c...

## 2. Search Engine

In [9]:
final_df.description = final_df.description.astype(str)

In [10]:
import pandas as pd
import re
from forex_python.converter import CurrencyRates

# Assuming your DataFrame is named 'final_df' and contains a column 'fees'
# final_df = pd.read_csv('your_dataset.csv')

# Function to extract numeric values and currency from the 'fees' column
def extract_numeric_and_currency(text):
    if isinstance(text, str):
        # Use regex to find numeric values and currency
        matches = re.findall(r'(\d+)\s*([a-zA-Z]+)', text)

        # Extract numeric values and currency symbols
        numeric_values = [int(match[0]) for match in matches]
        currencies = [match[1] for match in matches]

        # Return the maximum numeric value and the most frequent currency
        if numeric_values:
            return max(numeric_values), max(set(currencies), key=currencies.count)
        else:
            return None, None
    else:
        return None, None

# Apply the function to the 'fees' column
final_df['fees_numeric'], final_df['original_currency'] = zip(*final_df['fees'].apply(extract_numeric_and_currency))

# Display the DataFrame with the new 'fees_numeric' and 'original_currency' columns
final_df[['courseName', 'universityName', 'fees', 'fees_numeric', 'original_currency']]

,courseName,universityName,fees,fees_numeric,original_currency
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,Fees Please see the...,NaN,None
1,"Accounting, Accountability & Financial Managem...",King’s College London,Fees Please see the...,NaN,None
2,Accounting and Finance - MSc,University of Leeds,"Fees UK: £18,000 (Tot...",NaN,None
3,"Accounting, Financial Management and Digital B...",University of Reading,Fees Please see the...,NaN,None
4,Addictions MSc,King’s College London,Fees Please see the...,NaN,None
...,...,...,...,...,...
5995,BioInnovation - MSc,Aberystwyth University,Fees Please see the...,NaN,None
5996,Biological Photography and Imaging MSc,University of Nottingham,Fees Please see the...,NaN,None
5997,Biological Sciences (MSc by Research),University of Huddersfield,Fees UK fees: ...,NaN,None
5998,"Biological Sciences (M.A., M.S.)",St. Cloud State University,"Fees $7,385* per year...",2021.0,student
5999,Bio-Integrated Design MSc,University College London,"Fees Full time - £16,100",NaN,None

### 2.1. Conjunctive query

In [11]:
nltk.download('punkt')
nltk.download('stopwords')
stemmer = PorterStemmer()
lst_stopwords = stopwords.words('english')
final_df['descr_clean'] = final_df.description.apply(lambda row: [stemmer.stem(word) for word in nltk.word_tokenize(row) if not word in lst_stopwords and word.isalnum()])
vocabulary = set()
vocabulary_filled = final_df.descr_clean.apply(lambda row: [vocabulary.add(word) for word in row])

[nltk_data] Downloading package punkt to /Users/adilkhan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/adilkhan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
tfidf = TfidfVectorizer(input='content', lowercase=False, tokenizer=lambda text: text) # , max_df=0.1
results = tfidf.fit_transform(final_df.descr_clean)
result_dense = results.todense()
tfidf_data = pd.DataFrame(result_dense.tolist(), index=final_df.index, columns=tfidf.get_feature_names_out())
terms_tfidf = pd.DataFrame(data = vocabulary, columns=['term'])
terms_tfidf['reverse'] = terms_tfidf.term.apply(lambda item: list(final_df.loc[final_df.descr_clean.apply(lambda row: item in row)].index))
terms_tfidf['tfidf'] = terms_tfidf.apply(lambda row: list(zip(row.reverse, tfidf_data.loc[row.reverse, row.term].values)), axis = 1)

In [13]:
tfidf_data

,1,10,100,1000,104k,11,11th,12,120,125k,...,zoonosi,zoonot,zu,zudem,zum,zur,zurich,zwingen,école,ísafjörður
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.125727,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5996,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5997,0.119276,0.139064,0.0,0.0,0.0,0.0,0.0,0.133600,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5998,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5999,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
terms_tfidf.head()

,term,reverse,tfidf
0,charg,"[1225, 1844, 2041, 2924, 3009, 3764]","[(1225, 0.20634003260819858), (1844, 0.1570894..."
1,studley,[3497],"[(3497, 0.19243190846150562)]"
2,board,"[502, 532, 674, 712, 989, 1934, 1967, 2393, 27...","[(502, 0.13346333109598837), (532, 0.133463331..."
3,photosynthet,[5473],"[(5473, 0.18071560493372604)]"
4,mh,[5961],"[(5961, 0.17951835778034295)]"

In [15]:
terms_tfidf.to_csv('terms_tfidf.csv', index=False)

In [16]:
def preprocess(text):
    tokens = nltk.word_tokenize(text.lower())
    stop_words = set(stopwords.words('english'))
    return [stemmer.stem(token) for token in tokens if token.isalnum() and token not in stop_words]

In [17]:
def common_docs(query_2):
    query_2 = preprocess(query_2)
    descr_tot_docs = terms_tfidf.loc[terms_tfidf.term.apply(lambda item: item in query_2)].reverse.values
    if descr_tot_docs.shape[0] == 0:
        return 'No Results'
    descr_docs = list((set.intersection(*map(set, descr_tot_docs))))
    query_scores = final_df.loc[descr_docs].copy()
    result = query_scores[['courseName', 'universityName', 'description', 'url']]
    return result

In [18]:
query = 'advanced knowledge'
common_docs(query).head(5)

,courseName,universityName,description,url
2048,Engineering Management (MSc),University of Gloucestershire,This course will equip you with the necessary ...,https://www.findamasters.com/masters-degrees/c...
2049,Engineering Management MSc,University of Greenwich,Extend and develop your skills and build a car...,https://www.findamasters.com/masters-degrees/c...
2,Accounting and Finance - MSc,University of Leeds,Businesses and governments rely on sound finan...,https://www.findamasters.com/masters-degrees/c...
4,Addictions MSc,King’s College London,Join us for an online session for prospective ...,https://www.findamasters.com/masters-degrees/c...
2058,Engineering Management via Study Centres - MSc,University of Sunderland,This course will broaden the knowledge and exp...,https://www.findamasters.com/masters-degrees/c...

### 2.2 Conjunctive query & Ranking score

In [19]:
tfidf_data.head(5)

,1,10,100,1000,104k,11,11th,12,120,125k,...,zoonosi,zoonot,zu,zudem,zum,zur,zurich,zwingen,école,ísafjörður
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125727,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
def cossim_score(query_2: str, K: int = 10):
    query_2 = preprocess(query_2)
    descr_tot_docs = terms_tfidf.loc[terms_tfidf.term.apply(lambda item: item in query_2)].reverse.values
    if descr_tot_docs.shape[0] == 0:
        return 'No Results'
    descr_docs = list((set.intersection(*map(set, descr_tot_docs))))
    
    query_2_tfidf = tfidf.transform([query_2])
    query_2_tfidf = query_2_tfidf.toarray()

    query_scores = final_df.loc[descr_docs].copy()
    for idx in query_scores.index:
        query_scores.loc[idx, 'cosine_similarity'] = cosine_similarity(query_2_tfidf, tfidf_data.loc[idx].values.reshape(1, -1))


    result = query_scores[['courseName', 'universityName', 'description', 'url', 'cosine_similarity']]


    max_heap = []

    for idx, score in zip(result.index, result['cosine_similarity']):
        heapq.heappush(max_heap, (score, idx)) 
        if len(max_heap) > K:
            heapq.heappop(max_heap)

    top_k_min_documents = heapq.nlargest(K, max_heap)
    top_k_min_documents = [idx for score, idx in top_k_min_documents]
    return result.loc[top_k_min_documents]

In [21]:
query = 'advanced knowledge'
cossim_score(query)

,courseName,universityName,description,url,cosine_similarity
5206,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,0.386627
5237,Advanced Healthcare Practice - MSc,Cardiff University,Why study this course ...,https://www.findamasters.com/masters-degrees/c...,0.381965
5138,Advanced Clinical Practice MSc,University of Greenwich,Learn essential strategies and prepare for lea...,https://www.findamasters.com/masters-degrees/c...,0.378241
5398,Advancing Practice - MSc,University of Northampton,Our MSc Advancing Practice awards support the ...,https://www.findamasters.com/masters-degrees/c...,0.376316
5093,Advanced Clinical Practice - MSc,Canterbury Christ Church University,Gain the knowledge and skills needed to become...,https://www.findamasters.com/masters-degrees/c...,0.363185
5282,Advanced Mechanical Engineering - MSc (Eng),University of Leeds,This course offers a broad range of advanced s...,https://www.findamasters.com/masters-degrees/c...,0.335754
5058,Advanced Biomedical Engineering - MSc,University of Bradford,Biomedical engineering is a fast evolving inte...,https://www.findamasters.com/masters-degrees/c...,0.325558
5153,Advanced Clinical Practitioner - MSc,University of Sunderland,The MSc Advanced Clinical Practitioner is a hi...,https://www.findamasters.com/masters-degrees/c...,0.320423
5164,Advanced Computer Science - MSc/PgD/PgC,Cardiff Metropolitan University,This Master's degree in Advanced Computer Scie...,https://www.findamasters.com/masters-degrees/c...,0.316301
5363,Advanced Professional Practice (MSc),University of Gloucestershire,Our lecturers are research active experts who ...,https://www.findamasters.com/masters-degrees/c...,0.313687

## 3. Define a new score!

In [22]:
final_df.courseName = final_df.courseName.astype(str)
final_df.description = final_df.description.astype(str)

In [23]:
nltk.download('punkt')
nltk.download('stopwords')
stemmer = PorterStemmer()
lst_stopwords = stopwords.words('english')
final_df['descr_clean'] = final_df.description.apply(lambda row: [stemmer.stem(word) for word in nltk.word_tokenize(row) if not word in lst_stopwords and word.isalnum()])
final_df['courseName_clear'] = final_df.courseName.apply(lambda row: [stemmer.stem(word) for word in nltk.word_tokenize(row) if not word in lst_stopwords and word.isalnum()])
vocabulary = set()
course_vocabulary = set()
vocabulary_filled = final_df.descr_clean.apply(lambda row: [vocabulary.add(word) for word in row])
course_vocabulary_filled = final_df.courseName_clear.apply(lambda row: [course_vocabulary.add(word) for word in row])

[nltk_data] Downloading package punkt to /Users/adilkhan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/adilkhan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [24]:
tfidf = TfidfVectorizer(input='content', lowercase=False, tokenizer=lambda text: text) # , max_df=0.1
results = tfidf.fit_transform(final_df.descr_clean)
result_dense = results.todense()
tfidf_data = pd.DataFrame(result_dense.tolist(), index=final_df.index, columns=tfidf.get_feature_names_out())
terms_tfidf = pd.DataFrame(data = vocabulary, columns=['term'])
terms_tfidf['reverse'] = terms_tfidf.term.apply(lambda item: list(final_df.loc[final_df.descr_clean.apply(lambda row: item in row)].index))
terms_tfidf['tfidf'] = terms_tfidf.apply(lambda row: list(zip(row.reverse, tfidf_data.loc[row.reverse, row.term].values)), axis = 1)

In [25]:
course_terms = pd.DataFrame(data = course_vocabulary, columns=['term'])
course_terms['reverse'] = course_terms.term.apply(lambda item: list(final_df.loc[final_df.courseName_clear.apply(lambda row: item in row)].index))

In [26]:
course_terms.to_csv('course_terms.csv')

In [27]:
course_terms.head()

        term                reverse
0      tesol                 [4010]
1      skill                 [1696]
2   function     [2708, 4850, 5234]
3    classic  [534, 535, 536, 5497]
4  territori                 [1859]

In [28]:
def preprocess(text):
    tokens = nltk.word_tokenize(text.lower())
    stop_words = set(stopwords.words('english'))
    return [stemmer.stem(token) for token in tokens if token.isalnum() and token not in stop_words]

In [29]:
def new_score(query_2: str, K: int = 10):
    query_2 = preprocess(query_2)
    #finding the documents that contain the query terms
    descr_tot_docs = terms_tfidf.loc[terms_tfidf.term.apply(lambda item: item in query_2)].reverse.values
    if descr_tot_docs.shape[0] == 0:
        return 'No Results'
    #select only those docs that contain all the query terms
    descr_docs = list((set.intersection(*map(set, descr_tot_docs))))
    #transform the query into tfidf
    query_2_tfidf = tfidf.transform([query_2])
    query_2_tfidf = query_2_tfidf.toarray()


    #calculate the euclidean distance between the query and the documents
    query_scores = final_df.loc[descr_docs].copy()
    for idx in query_scores.index:
        query_scores.loc[idx, 'euclidean_distance'] = euclidean(query_2_tfidf[0], tfidf_data.loc[idx].values.reshape(1, -1)[0])


    result = query_scores[['courseName','courseName_clear', 'universityName', 'description', 'url', 'euclidean_distance']]

    #bonus score
    def bonus_score(row):
        bonus = len(query_2)
        for word in query_2:
            if word in row['courseName_clear']:
                bonus -= 1
        if bonus != 0:
            row['euclidean_distance'] += bonus
        return row

    result = result.apply(bonus_score, axis=1)
    result.rename(columns={'euclidean_distance': 'New_Score'}, inplace=True)
    result = result[['courseName', 'universityName', 'description', 'url', 'New_Score']]

    #we will use a min heap to find the top k documents, as we are using euclidean distance
    min_heap = []

    for idx, score in zip(result.index, result['New_Score']):
        heapq.heappush(min_heap, (-score, idx))  # Using negative score for min heap
        if len(min_heap) > K:
            heapq.heappop(min_heap)

    top_k_min_documents = heapq.nlargest(K, min_heap)
    top_k_min_documents = [idx for score, idx in top_k_min_documents]
    return result.loc[top_k_min_documents]

In [30]:
query_2 = 'Advanced Knowledge'
new_score(query_2)

,courseName,universityName,description,url,New_Score
5206,Advanced Computing MSc,King’s College London,Our Advanced Computing MSc provides knowledge ...,https://www.findamasters.com/masters-degrees/c...,2.107586
5237,Advanced Healthcare Practice - MSc,Cardiff University,Why study this course ...,https://www.findamasters.com/masters-degrees/c...,2.111787
5138,Advanced Clinical Practice MSc,University of Greenwich,Learn essential strategies and prepare for lea...,https://www.findamasters.com/masters-degrees/c...,2.115131
5398,Advancing Practice - MSc,University of Northampton,Our MSc Advancing Practice awards support the ...,https://www.findamasters.com/masters-degrees/c...,2.116856
5093,Advanced Clinical Practice - MSc,Canterbury Christ Church University,Gain the knowledge and skills needed to become...,https://www.findamasters.com/masters-degrees/c...,2.128552
5282,Advanced Mechanical Engineering - MSc (Eng),University of Leeds,This course offers a broad range of advanced s...,https://www.findamasters.com/masters-degrees/c...,2.152602
5058,Advanced Biomedical Engineering - MSc,University of Bradford,Biomedical engineering is a fast evolving inte...,https://www.findamasters.com/masters-degrees/c...,2.161414
5153,Advanced Clinical Practitioner - MSc,University of Sunderland,The MSc Advanced Clinical Practitioner is a hi...,https://www.findamasters.com/masters-degrees/c...,2.165828
5164,Advanced Computer Science - MSc/PgD/PgC,Cardiff Metropolitan University,This Master's degree in Advanced Computer Scie...,https://www.findamasters.com/masters-degrees/c...,2.169358
5363,Advanced Professional Practice (MSc),University of Gloucestershire,Our lecturers are research active experts who ...,https://www.findamasters.com/masters-degrees/c...,2.171591

In [31]:
query_2 = 'Advanced Functional Materials'
new_score(query_2)

,courseName,universityName,description,url,New_Score
2708,Functional Advanced Materials Engineering with...,University of Bordeaux,A well-established and working infrastructure ...,https://www.findamasters.com/masters-degrees/c...,1.037976
5234,Advanced Functional Materials - MSc,University of Glasgow,The Masters in Advanced Functional Materials i...,https://www.findamasters.com/masters-degrees/c...,1.212148
1560,Digital Manufacturing of Advanced Materials MSc,University College London,Register your interest in graduate study at UC...,https://www.findamasters.com/masters-degrees/c...,2.073776
421,Chemistry and Physics of Materials Internation...,University of Salzburg,Our society is currently facing major challeng...,https://www.findamasters.com/masters-degrees/c...,3.103126
5382,Advanced Synthesis and Catalysis,University of Regensburg,The program If yo...,https://www.findamasters.com/masters-degrees/c...,3.299128
4289,Manufacturing Engineering MSc,Sabanci University,Welcome to the Manufacturing Engineering Progr...,https://www.findamasters.com/masters-degrees/c...,4.255290

**Explanation**

Fisrtly, I used euclidean distance score as a scoring function. And then used courseName column to create a new score. 
To create a new score, I used the following formula:

```python
def bonus_score(row):
    bonus = len(query_2)
    for word in query_2:
        if word in row['courseName_clear']:
            bonus -= 1
    if bonus != 0:
        row['euclidean_distance'] += bonus
    return row
```
Query: "Advanced Knowledge"
*  If all the words in the query are in the courseName, then the euclidean score is kept the same. 
*  If "len(query)-1 = 1" words of query are in the courseName, I would add 1 to Euclidean score.
*  If "len(query)-2 = 0" words of query are in the courseName, I would add 2 to Euclidean score.

Query: "Advanced Functional Materials"
*  If all the words of query are in the courseName, then the euclidean score is kept the same.
*  If "len(query)-1 = 2" words of query are in the courseName, I would add 1 to Euclidean score.
*  If "len(query)-2 = 1"  words in the query are in the courseName, I would add 2 to Euclidean score.
*  If "len(query)-3 = 0" words in the query are in the courseName, I would add 3 to Euclidean score.


So it can be said that, the smaller the score, the more relevant the course is to the query.

I made this scoring function because I wanted to give more importance to the courseName column. I thought that if the courseName column contains the query, then the course is more relevant to the query.

In case of heap data structure, I used it to show the top min new_score values.

**ANSWER** I can probably say that the new_score is better than the cossine similarity score because it gives more importance to the courseName column. And overall it gives more relevant results to the query due to algorithm's connection to description and courseName columns.

## 4. Visualizing the most relevant MSc degrees

In [32]:
from googlemaps import Client as GoogleMaps
import googlemaps
import gmaps
from keplergl import KeplerGl
import geopandas as gpd
gmaps = googlemaps.Client(key='AIzaSyAvqOdjBikEKqBhJ2cr5fb6ip1tD678MpE')

In [33]:
def new_score_map(query_2: str, K: int = 10):
    query_2 = preprocess(query_2)
    descr_tot_docs = terms_tfidf.loc[terms_tfidf.term.apply(lambda item: item in query_2)].reverse.values
    if descr_tot_docs.shape[0] == 0:
        return 'No Results'
    descr_docs = list((set.intersection(*map(set, descr_tot_docs))))
    
    query_2_tfidf = tfidf.transform([query_2])
    query_2_tfidf = query_2_tfidf.toarray()

    query_scores = final_df.loc[descr_docs].copy()
    for idx in query_scores.index:
        query_scores.loc[idx, 'euclidean_distance'] = euclidean(query_2_tfidf[0], tfidf_data.loc[idx].values.reshape(1, -1)[0])


    result = query_scores[['courseName','courseName_clear', 'universityName', 'description', 'city', 'country', 'url', 'euclidean_distance', 'fees_numeric', 'original_currency']]

    def bonus_score(row):
        bonus = len(query_2)
        for word in query_2:
            if word in row['courseName_clear']:
                bonus -= 1
        if bonus != 0:
            row['euclidean_distance'] += bonus
        return row

    result = result.apply(bonus_score, axis=1)
    result.rename(columns={'euclidean_distance': 'New_Score'}, inplace=True)
    result = result[['courseName', 'universityName', 'description', 'city', 'country','fees_numeric', 'original_currency', 'url', 'New_Score']]

    min_heap = []

    for idx, score in zip(result.index, result['New_Score']):
        heapq.heappush(min_heap, (-score, idx))
        if len(min_heap) > K:
            heapq.heappop(min_heap)

    top_k_min_documents = heapq.nlargest(K, min_heap)
    top_k_min_documents = [idx for score, idx in top_k_min_documents]
    return result.loc[top_k_min_documents]

In [34]:
map_df = new_score_map('Advanced Knowledge')

In [35]:
map_df['Full_Address'] = map_df['city'] + ',' + map_df['country']
map_df_1 = map_df.iloc[:,-1:].copy()
map_df_1['long'] = ""
map_df_1['lat'] = ""
for x in range(len(map_df_1)):
    geocode_result = gmaps.geocode(map_df_1['Full_Address'].iloc[x])
    map_df_1['lat'].iloc[x] = geocode_result[0]['geometry']['location']['lat']
    map_df_1['long'].iloc[x] = geocode_result[0]['geometry']['location']['lng']
map_df['Lat'] = map_df_1['lat']
map_df['Long'] = map_df_1['long']
result_map = KeplerGl(height=600, width=800)
gdf = gpd.GeoDataFrame(map_df[['courseName', 'universityName', 'Full_Address', 'New_Score', 'fees_numeric', 'original_currency']], geometry=gpd.points_from_xy(map_df.Long, map_df.Lat))
result_map.add_data(data=gdf, name='kepler map')
result_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

/Users/adilkhan/anaconda3/envs/verigram/lib/python3.9/site-packages/jupyter_client/session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(data={'kepler map': {'index': [5206, 5237, 5138, 5398, 5093, 5282, 5058, 5153, 5164, 5363], 'columns'…

In case if visual map will not work, I attached the image.


![Map](image.jpg)

## 6. Command Line Question (CLQ)

## 7. Algorithmic Question (AQ)

### FIRST QUESTION

In [ ]:
def generateReport(d, sumHours, hrLimits):
    
    minTotal = sum(minTime for minTime, _ in hrLimits)
    maxTotal = sum(maxTime for _, maxTime in hrLimits)

    if sumHours < minTotal or sumHours > maxTotal:
        print('NO')
        return

    report = [minTime for minTime, _ in hrLimits]
    remainingHours = sumHours - minTotal

    for i in range(d):
        extra_hours = min(hrLimits[i][1] - hrLimits[i][0], remainingHours)
        report[i] += extra_hours
        remainingHours -= extra_hours

    print('YES')
    print(*report)

# Read input
d, sumHours = map(int, input().split())
hrLimits = [tuple(map(int, input().split())) for _ in range(d)]

generateReport(d, sumHours, hrLimits)

### SECOND QUESTION

minTotal and maxTotal are calculated by summing values from hrLimits. This takes O(d) time, where d is the length of hrLimits.
Checking if sumHours is less than minTotal or greater than maxTotal takes constant time, O(1).
The loop iterates d times, where d is the length of hrLimits. Inside the loop, operations like accessing elements from hrLimits, performing arithmetic operations, and updating variables take constant time, O(1).
The final print statement takes O(d) time, as it prints d elements.

The overall time complexity is dominated by the loop that iterates over the length of hrLimits, so the time complexity is O(d). 
In summary, the time complexity of the generateReport function is O(d), where d is the length of the hrLimits list.

### THIRD QUESTION

ChatGPT Answer:
The analysis you provided is correct. The overall time complexity of the given code is O(d), where "d" is the length of the hrLimits list. 
The dominant factor is the loop that iterates over the hrLimits list.
If there is a difference in the response from another tool or analysis, it would be important to compare the reasoning behind the assessments. 
In this case, the primary operation is the loop over hrLimits, which has a linear relationship with the size of the input (d), leading to a time complexity of O(d). 
If another tool also arrives at O(d) and provides a similar reasoning, then the two assessments are in agreement.

### FOURTH QUESTION


My code is solid, but I believe it can be further improved. Error handling could be implemented to ensure that the input always meets the requirements. 
Alternatively, returning the result from the function instead of printing it directly could make the function more flexible. Overall, though, I am satisfied with my code.